.stack-work/
codex.tags
bin/formura*
bin/c-incubator
bin/incubator
bin/make-make
*.cabal
examples/*/*.c
examples/*/*.o
examples/*/*.s
examples/*/run
examples/*/main
!examples/*/main.c
examples/*/*.h
examples/*/plot_result.pdf
examples/*/data/
.myscripts/
**/Pipfile
**/Pipfile.lock
